certifi
charset-normalizer
docutils
idna
markdown-it-py
mdurl
myst-parser
sphinx
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinx_copybutton
sphinx_design
urllib3
